{% extends 'base.html' %}
{% load staticfiles %}
{% block form_fields %}

        <div class="row">
            <div class="box">
                {% for item in youth_art %}
                <div class="col-lg-12">
                      <hr>
                    <h2 class="intro-text text-center">{{item.name}}
                        <strong>{{item.name}}</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="{{item.image.url}}" alt="">
                </div>
                <div class="col-md-6">
                    <p>{{item.name}} .</p>
                    <p>{{item.sumary}}.</p>
                    <p>Price: {{item.price}}$.</p>
                    <p>Call for shipping and color options or pick up in store</p>
                </div>
                <div class="clearfix"></div>
                {% endfor %}
            </div>
        </div>

{% endblock %}